@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;600;700&display=swap');

body {
  font-family: 'Cabin', sans-serif;
  background-color: #758190;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  background-color: lightblue;
  padding: 1rem;
}

#tentacles {
  width: 50px;
  margin-right: 1rem;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 7px;
  padding: 1rem;
  margin: 0.5rem;
  flex: 1;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 2.5rem;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-card {
  background-color: white;
  width: 300px;
  padding: 1rem;
  margin: 1rem;
  border-radius: 7px;
  text-align: center;
}

.game-card:hover {
  box-shadow: 0 0 20px lightblue;
}

.game-img {
  width: 100%;
  border-radius: 5px;
}

#button-container {
  text-align: center;
}

button {
  font-family: 'Cabin';
  border: none;
  padding: 0.75rem 1rem;
  margin: 0.5rem;
  border-radius: 7px;
  cursor: pointer;
}

